.dondo-gui-container {
  width: 100%;
  height: var(--dl-size-size-xxlarge);
  display: flex;
  overflow: hidden;
  background: Black (Gray);
  min-height: 100vh;
  overflow-x: hidden;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-image: linear-gradient(0deg, rgb(19, 5, 0) 1.00%,rgb(0, 0, 0) 27.00%);
}
.dondo-gui-nav {
  width: 15%;
  height: 100%;
  display: flex;
  position: relative;
  overflow-x: inherit;
  overflow-y: scroll;
  align-items: flex-start;
  flex-shrink: 0;
}
.dondo-gui-frame361 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.dondo-gui-navlink {
  display: contents;
}
.dondo-gui-container01 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.dondo-gui-lottie-node {
  width: 75%;
  height: 78px;
}
.dondo-gui-text {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 0px;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: 30%;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 0px;
  text-decoration: none;
}
.dondo-gui-text:hover {
  text-decoration: underline;
}
.dondo-gui-text:active {
  text-decoration: underline;
}
.dondo-gui-container02 {
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
}
.dondo-gui-text01 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  font-size: 58px;
  font-style: Regular;
  margin-top: 5%;
  text-align: center;
  font-family: Pinyon Script;
  font-weight: 400;
  line-height: 75%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  margin-bottom: 10%;
  text-decoration: none;
}
.dondo-gui-text02 {
  color: rgb(242, 109, 31);
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  margin-bottom: 0%;
  text-decoration: none;
}
.dondo-gui-dondo2 {
  width: 50%;
  height: 876px;
}
.dondo-gui-text03 {
  color: rgb(224, 66, 23);
  width: 100%;
  height: auto;
  font-size: 22px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 1;
  padding-top: 7%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 5%;
  letter-spacing: 1px;
  padding-bottom: 7%;
  text-decoration: none;
}
.dondo-gui-text04 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  font-size: 12px;
  align-self: center;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  margin-left: 10%;
  padding-top: 10%;
  border-color: rgb(242, 109, 31);
  border-width: 1px;
  font-stretch: normal;
  margin-right: 10%;
  padding-left: 5%;
  margin-bottom: 5%;
  padding-right: 30%;
  padding-bottom: 10%;
  background-color: rgb(12, 3, 0);
  border-left-width: 0px;
  border-right-width: 0px;
}
.dondo-gui-text10 {
  color: rgb(242, 109, 31);
  width: 100%;
  font-size: 12px;
  align-self: flex-start;
  font-style: Regular;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 2%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 2%;
  padding-bottom: 2%;
  text-decoration: underline;
}
.dondo-gui-text11 {
  color: rgb(242, 109, 31);
  width: 100%;
  font-size: 12px;
  align-self: flex-start;
  font-style: Regular;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 2%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 2%;
  padding-bottom: 2%;
  text-decoration: underline;
}
.dondo-gui-text12 {
  color: rgb(242, 109, 31);
  width: 100%;
  font-size: 12px;
  align-self: flex-start;
  font-style: Regular;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 2%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 2%;
  padding-bottom: 2%;
  text-decoration: underline;
}
.dondo-gui-text13 {
  color: rgb(242, 109, 31);
  width: 100%;
  font-size: 12px;
  align-self: flex-start;
  font-style: Regular;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 2%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 2%;
  padding-bottom: 2%;
  text-decoration: underline;
}
.dondo-gui-rectangle9 {
  width: 100%;
  height: 64px;
  opacity: 0.00;
}
.dondo-gui-container03 {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  flex-direction: column;
}
.dondo-gui-container03:hover {
  position: relative;
}
.dondo-gui-rauw {
  color: rgb(224, 66, 23);
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  padding-top: 0px;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  border-width: 1px;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0px;
  text-transform: uppercase;
  text-decoration: none;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dondo-gui-rauw1 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
  background-color: #150501;
}
.dondo-gui-rauw1:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dondo-gui-rauw1:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.dondo-gui-rauw2 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-rauw2:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dondo-gui-rauw2:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.dondo-gui-bunker {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-bunker:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dondo-gui-bunker:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.dondo-gui-casualmente {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-casualmente:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-style: inset;
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dondo-gui-casualmente:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.dondo-gui-subject {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-subject:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dondo-gui-subject:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.dondo-gui-dream {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-dream:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dondo-gui-dream:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.dondo-gui-voyage {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-voyage:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dondo-gui-voyage:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.dondo-gui-voyage1 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-voyage1:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dondo-gui-voyage1:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.dondo-gui-rauw3 {
  color: rgb(224, 66, 23);
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-style: normal;
  margin-top: 5%;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  padding-top: 0px;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  border-width: 1px;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0px;
  text-transform: uppercase;
  text-decoration: none;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dondo-gui-linkdn {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-linkdn:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-style: ridge;
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dondo-gui-linkdn:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.dondo-gui-bandcamp {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-bandcamp:hover {
  width: 100%;
  height: 100%;
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-style: solid;
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dondo-gui-bandcamp:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.dondo-gui-twitter {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-twitter:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-style: ridge;
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dondo-gui-twitter:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.dondo-gui-twitter1 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  margin-top: 10%;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: rgb(242, 109, 31);
  border-style: solid;
  border-width: 1px;
  font-stretch: normal;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: 10%;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 5%;
  text-decoration: none;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dondo-gui-twitter1:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-style: ridge;
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dondo-gui-twitter1:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.dondo-gui-text14 {
  color: rgb(224, 66, 23);
  width: 100%;
  height: auto;
  font-size: 10px;
  align-self: flex-end;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 10%;
  text-decoration: none;
}
.dondo-gui-text14:hover {
  text-decoration: underline none;
}
.dondo-gui-rectangle91 {
  width: 100%;
  height: 46px;
  opacity: 0.00;
}
.dondo-gui-rectangle7 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.dondo-gui-rectangle71 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.dondo-gui-rectangle72 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.dondo-gui-rectangle73 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.dondo-gui-rectangle74 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.dondo-gui-rectangle75 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.dondo-gui-rectangle76 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.dondo-gui-description {
  width: 30%;
  height: 100%;
  display: flex;
  position: relative;
  overflow-y: scroll;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.dondo-gui-rectangle92 {
  width: 100%;
  height: 88px;
  opacity: 0.00;
}
.dondo-gui-text15 {
  color: rgb(242, 109, 31);
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  margin-bottom: 0%;
  text-decoration: none;
}
.dondo-gui-text16 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  font-size: 64px;
  font-style: Regular;
  text-align: center;
  font-family: Pinyon Script;
  font-weight: 400;
  line-height: 75%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.dondo-gui-dondo21 {
  width: 50%;
  height: auto;
  margin-bottom: 5%;
}
.dondo-gui-text17 {
  color: rgb(224, 66, 23);
  width: 100%;
  height: auto;
  font-size: 22px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 1;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 5%;
  letter-spacing: 1px;
  text-decoration: none;
}
.dondo-gui-container05 {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dondo-gui-text18 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  font-size: 12px;
  align-self: center;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  margin-left: 10%;
  padding-top: 10%;
  border-color: rgb(242, 109, 31);
  border-width: 1px;
  font-stretch: normal;
  margin-right: 10%;
  padding-left: 5%;
  border-radius: var(--dl-radius-radius-radius2);
  margin-bottom: 5%;
  padding-right: 10%;
  padding-bottom: 10%;
  background-color: rgb(12, 3, 0);
  border-left-width: 1px;
  border-right-width: 1px;
}
.dondo-gui-text20 {
  text-decoration: none;
}
.dondo-gui-text21 {
  text-decoration: none;
}
.dondo-gui-text22 {
  text-decoration: none;
}
.dondo-gui-text24 {
  text-decoration: none;
}
.dondo-gui-text25 {
  color: rgb(242, 109, 31);
  width: 100%;
  font-size: 12px;
  align-self: flex-start;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 2%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 2%;
  padding-bottom: 2%;
  text-decoration: none;
}
.dondo-gui-text25:hover {
  text-decoration: underline;
}
.dondo-gui-text26 {
  color: rgb(242, 109, 31);
  width: 100%;
  font-size: 12px;
  align-self: flex-start;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 2%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 2%;
  padding-bottom: 2%;
}
.dondo-gui-text26:hover {
  text-decoration: underline;
}
.dondo-gui-text27 {
  color: rgb(242, 109, 31);
  width: 100%;
  font-size: 12px;
  align-self: flex-start;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 2%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 2%;
  padding-bottom: 2%;
}
.dondo-gui-text27:hover {
  text-decoration: underline;
}
.dondo-gui-text28 {
  color: rgb(242, 109, 31);
  width: 100%;
  font-size: 12px;
  align-self: flex-start;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 2%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 2%;
  padding-bottom: 2%;
  background-color: #150501;
}
.dondo-gui-text28:hover {
  text-decoration: underline;
}
.dondo-gui-rectangle93 {
  width: 100%;
  height: 306px;
  opacity: 0.00;
}
.dondo-gui-frame373 {
  width: 100%;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.dondo-gui-rectangle77 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.dondo-gui-text29 {
  top: 9px;
  color: rgb(224, 66, 23);
  right: var(--dl-space-space-twounits);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  text-decoration: none;
}
.dondo-gui-text29:hover {
  text-decoration: underline none;
}
.dondo-gui-rectangle94 {
  width: 100%;
  height: 46px;
  opacity: 0.00;
}
.dondo-gui-rectangle78 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.dondo-gui-dondo {
  width: 55%;
  height: 100%;
  display: flex;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.dondo-gui-text30 {
  top: -22px;
  left: 55px;
  color: rgba(224, 66, 23, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dondo-gui-rectangle10 {
  width: 100%;
  height: 144px;
  opacity: 0.00;
}
.dondo-gui-container06 {
  flex: 0 0 auto;
  width: 85%;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-end;
  align-items: flex-start;
  margin-right: 10%;
  flex-direction: row;
  justify-content: flex-start;
}
.dondo-gui-container07 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.dondo-gui-container08 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dondo-gui-container08:hover {
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 20;
  border-top-right-radius: 20;
  border-bottom-left-radius: 20;
  border-bottom-right-radius: 20;
}
.dondo-gui-dfsdsf1 {
  width: 50%;
  height: auto;
  margin-top: 0%;
  margin-bottom: 0%;
}
.dondo-gui-text32 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  font-size: 12px;
  align-self: center;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-container09 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dondo-gui-container09:hover {
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 20;
  border-top-right-radius: 20;
  border-bottom-left-radius: 20;
  border-bottom-right-radius: 20;
}
.dondo-gui-group31231 {
  width: 100%;
  height: auto;
  align-self: center;
}
.dondo-gui-text33 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  font-size: 12px;
  align-self: center;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-container10 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dondo-gui-container10:hover {
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 20;
  border-top-right-radius: 20;
  border-bottom-left-radius: 20;
  border-bottom-right-radius: 20;
}
.dondo-gui-musical-instruments1 {
  width: 50%;
  height: auto;
  margin-top: 0%;
  margin-bottom: 0%;
}
.dondo-gui-text34 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  font-size: 12px;
  align-self: center;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-container11 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dondo-gui-container11:hover {
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 20;
  border-top-right-radius: 20;
  border-bottom-left-radius: 20;
  border-bottom-right-radius: 20;
}
.dondo-gui-group31211 {
  width: 100%;
  height: auto;
}
.dondo-gui-text35 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  font-size: 12px;
  align-self: center;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-container12 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dondo-gui-container12:hover {
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 20;
  border-top-right-radius: 20;
  border-bottom-left-radius: 20;
  border-bottom-right-radius: 20;
}
.dondo-gui-group312111 {
  width: 50%;
  height: auto;
  margin-top: 0%;
  margin-bottom: 0%;
}
.dondo-gui-text36 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  font-size: 12px;
  align-self: center;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-container13 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dondo-gui-container13:hover {
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 20;
  border-top-right-radius: 20;
  border-bottom-left-radius: 20;
  border-bottom-right-radius: 20;
}
.dondo-gui-group312112 {
  width: 50%;
  height: auto;
  margin-top: 0%;
}
.dondo-gui-text37 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  font-size: 12px;
  align-self: center;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-container14 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dondo-gui-container14:hover {
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 20;
  border-top-right-radius: 20;
  border-bottom-left-radius: 20;
  border-bottom-right-radius: 20;
}
.dondo-gui-container15 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dondo-gui-container15:hover {
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 5;
  border-top-right-radius: 5;
  border-bottom-left-radius: 5;
  border-bottom-right-radius: 5;
}
.dondo-gui-sdfsdf2 {
  width: 50%;
  height: auto;
  margin-top: 0%;
  margin-bottom: 0%;
}
.dondo-gui-text38 {
  color: rgb(242, 109, 31);
  width: 100%;
  font-size: 12px;
  align-self: flex-start;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-container16 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dondo-gui-container17 {
  width: 90%;
  height: auto;
  display: flex;
  align-self: flex-end;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dondo-gui-container17:hover {
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 5;
  border-top-right-radius: 5;
  border-bottom-left-radius: 5;
  border-bottom-right-radius: 5;
}
.dondo-gui-container18 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  flex-direction: column;
  justify-content: center;
}
.dondo-gui-sdfsdf21 {
  width: 50%;
  height: auto;
  margin-top: 0%;
  margin-bottom: 10%;
}
.dondo-gui-container19 {
  width: 90%;
  height: auto;
  display: flex;
  align-self: flex-end;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dondo-gui-container19:hover {
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 5;
  border-top-right-radius: 5;
  border-bottom-left-radius: 5;
  border-bottom-right-radius: 5;
}
.dondo-gui-sdfsdf22 {
  width: 50%;
  height: 100%;
  margin-top: 0%;
  margin-bottom: 0%;
}
.dondo-gui-text39 {
  color: rgb(242, 109, 31);
  width: 90%;
  height: auto;
  font-size: 12px;
  align-self: flex-end;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-container20 {
  width: 90%;
  height: auto;
  display: flex;
  align-self: flex-end;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #FCFBF0;
}
.dondo-gui-container20:hover {
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 5;
  border-top-right-radius: 5;
  border-bottom-left-radius: 5;
  border-bottom-right-radius: 5;
}
.dondo-gui-sdfsdf23 {
  width: 100%;
  height: auto;
}
.dondo-gui-text40 {
  color: rgb(242, 109, 31);
  width: 90%;
  height: auto;
  font-size: 12px;
  align-self: flex-end;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-container21 {
  width: 90%;
  height: auto;
  display: flex;
  align-self: flex-end;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dondo-gui-container21:hover {
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 5;
  border-top-right-radius: 5;
  border-bottom-left-radius: 5;
  border-bottom-right-radius: 5;
}
.dondo-gui-sdfsdf24 {
  width: 50%;
  height: auto;
  margin-top: 0%;
  margin-bottom: 0%;
}
.dondo-gui-text41 {
  color: rgb(242, 109, 31);
  width: 90%;
  height: auto;
  font-size: 12px;
  align-self: flex-end;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-container22 {
  width: 90%;
  height: auto;
  display: flex;
  align-self: flex-end;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #FCFBF0;
}
.dondo-gui-container22:hover {
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 5;
  border-top-right-radius: 5;
  border-bottom-left-radius: 5;
  border-bottom-right-radius: 5;
}
.dondo-gui-sdfsdf25 {
  width: 100%;
  height: auto;
}
.dondo-gui-text42 {
  color: rgb(242, 109, 31);
  width: 90%;
  height: auto;
  font-size: 12px;
  align-self: flex-end;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-text43 {
  color: rgb(224, 66, 23);
  width: 90%;
  height: auto;
  font-size: 14px;
  align-self: flex-end;
  font-style: normal;
  text-align: center;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 30%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 30%;
  text-transform: capitalize;
  text-decoration: none;
}
.dondo-gui-text46 {
  color: rgb(224, 66, 23);
  width: 90%;
  height: auto;
  font-size: 12px;
  align-self: flex-end;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-container23 {
  width: 90%;
  height: auto;
  display: flex;
  align-self: flex-end;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dondo-gui-container23:hover {
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 5;
  border-top-right-radius: 5;
  border-bottom-left-radius: 5;
  border-bottom-right-radius: 5;
}
.dondo-gui-sdfsdf26 {
  width: 50%;
  height: auto;
  margin-top: 0%;
  margin-bottom: 0%;
}
.dondo-gui-text47 {
  color: rgb(242, 109, 31);
  width: 90%;
  height: auto;
  font-size: 12px;
  align-self: flex-end;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.dondo-gui-rectangle95 {
  width: 100%;
  height: 46px;
  opacity: 0.00;
}
.dondo-gui-text48 {
  color: rgb(224, 66, 23);
  width: 100%;
  height: auto;
  font-size: 10px;
  align-self: flex-end;
  font-style: Regular;
  text-align: right;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 10%;
  text-decoration: none;
}
.dondo-gui-text48:hover {
  text-decoration: underline none;
}
.dondo-gui-rectangle96 {
  width: 100%;
  height: 46px;
  opacity: 0.00;
}
.dondo-gui-text49 {
  top: -14px;
  left: 1px;
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  display: none;
  position: absolute;
  font-size: 58px;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  text-decoration: none;
}
.dondo-gui-text50 {
  top: 0px;
  color: rgb(242, 109, 31);
  right: 0px;
  width: 55%;
  height: auto;
  position: fixed;
  font-size: 54px;
  align-self: flex-end;
  font-style: Black;
  margin-top: -14px;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  mix-blend-mode: difference;
  text-decoration: none;
}
.dondo-gui-link {
  display: contents;
}
.dondo-gui-exclude {
  width: 160px;
  height: 152px;
  display: none;
  position: fixed;
  mix-blend-mode: difference;
  text-decoration: none;
}
.dondo-gui-lottie-node1 {
  top: NaNpx;
  width: 1263px;
  height: 1263px;
  display: none;
  opacity: 7%;
  position: fixed;
  mix-blend-mode: color-dodge;
  pointer-events: none;
}
.dondo-gui-lottie-node2 {
  top: NaNpx;
  width: 1263px;
  height: 1263px;
  display: none;
  opacity: 30%;
  position: fixed;
  align-content: flex-end;
  animation-name: none;
  mix-blend-mode: screen;
  pointer-events: none;
}
@media(max-width: 991px) {
  .dondo-gui-container {
    flex-direction: row;
  }
  .dondo-gui-nav {
    width: 45%;
  }
  .dondo-gui-frame361 {
    width: 100%;
  }
  .dondo-gui-lottie-node {
    width: 162px;
    margin-right: 0px;
  }
  .dondo-gui-text {
    margin-bottom: 10%;
  }
  .dondo-gui-container02 {
    display: flex;
  }
  .dondo-gui-text01 {
    margin-bottom: 0%;
  }
  .dondo-gui-text02 {
    margin-bottom: 10%;
  }
  .dondo-gui-dondo2 {
    width: 75%;
    height: auto;
  }
  .dondo-gui-text03 {
    padding-top: 5%;
    padding-bottom: 0%;
  }
  .dondo-gui-text04 {
    color: rgb(242, 109, 31);
    width: 90%;
    font-size: 12px;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 10%;
    padding-bottom: 10%;
    background-color: rgb(12, 3, 0);
  }
  .dondo-gui-text10 {
    color: rgb(217, 125, 22);
    height: auto;
    font-size: 12px;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    text-decoration: none;
  }
  .dondo-gui-text11 {
    color: rgb(217, 125, 22);
    height: auto;
    font-size: 12px;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    text-decoration: none;
  }
  .dondo-gui-text12 {
    color: rgb(217, 125, 22);
    height: auto;
    font-size: 12px;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    text-decoration: none;
  }
  .dondo-gui-text13 {
    color: rgb(217, 125, 22);
    height: auto;
    font-size: 12px;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    text-decoration: none;
  }
  .dondo-gui-rectangle9 {
    height: 32px;
  }
  .dondo-gui-container03 {
    margin-top: 0px;
  }
  .dondo-gui-rauw3 {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .dondo-gui-twitter1 {
    margin-top: 5%;
    padding-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 5%;
  }
  .dondo-gui-text14 {
    text-align: left;
  }
  .dondo-gui-description {
    display: none;
  }
  .dondo-gui-text18 {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .dondo-gui-text25 {
    color: rgb(217, 125, 22);
    height: auto;
    font-size: 12px;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    text-decoration: none;
  }
  .dondo-gui-text26 {
    color: rgb(217, 125, 22);
    height: auto;
    font-size: 12px;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    text-decoration: none;
  }
  .dondo-gui-text27 {
    color: rgb(217, 125, 22);
    height: auto;
    font-size: 12px;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    text-decoration: none;
  }
  .dondo-gui-text28 {
    color: rgb(217, 125, 22);
    height: auto;
    font-size: 12px;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    text-decoration: none;
  }
  .dondo-gui-dondo {
    width: 55%;
  }
  .dondo-gui-container06 {
    width: 90%;
    align-self: flex-start;
    margin-left: 5%;
    flex-direction: column;
  }
  .dondo-gui-container07 {
    width: 100%;
  }
  .dondo-gui-text32 {
    height: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .dondo-gui-container09 {
    height: auto;
  }
  .dondo-gui-text33 {
    height: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .dondo-gui-container10 {
    height: auto;
  }
  .dondo-gui-musical-instruments1 {
    width: 75%;
    height: auto;
  }
  .dondo-gui-text34 {
    height: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .dondo-gui-group31211 {
    width: 100%;
  }
  .dondo-gui-text35 {
    height: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .dondo-gui-group312111 {
    width: 75%;
  }
  .dondo-gui-text36 {
    height: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .dondo-gui-group312112 {
    width: 75%;
  }
  .dondo-gui-text37 {
    height: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .dondo-gui-container15 {
    width: 100%;
  }
  .dondo-gui-text38 {
    height: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .dondo-gui-container16 {
    width: 100%;
  }
  .dondo-gui-container17 {
    width: 0px;
  }
  .dondo-gui-sdfsdf21 {
    width: 75%;
  }
  .dondo-gui-container19 {
    width: 100%;
  }
  .dondo-gui-sdfsdf22 {
    width: 75%;
  }
  .dondo-gui-text39 {
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .dondo-gui-container20 {
    width: 100%;
  }
  .dondo-gui-text40 {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .dondo-gui-container21 {
    width: 100%;
  }
  .dondo-gui-sdfsdf24 {
    width: 75%;
  }
  .dondo-gui-text41 {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .dondo-gui-container22 {
    width: 100%;
    height: auto;
  }
  .dondo-gui-text42 {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .dondo-gui-text43 {
    font-size: 16px;
  }
  .dondo-gui-text44 {
    font-size: 16px;
  }
  .dondo-gui-text45 {
    font-size: 16px;
  }
  .dondo-gui-text46 {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .dondo-gui-container23 {
    width: 100%;
  }
  .dondo-gui-sdfsdf26 {
    margin: 0%;
  }
  .dondo-gui-text47 {
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .dondo-gui-text50 {
    font-size: 64px;
  }
}
@media(max-width: 479px) {
  .dondo-gui-container {
    overflow-y: scroll;
    flex-direction: column;
  }
  .dondo-gui-nav {
    width: 100%;
    height: auto;
    overflow-y: hidden;
  }
  .dondo-gui-frame361 {
    width: auto;
  }
  .dondo-gui-lottie-node {
    width: 162px;
  }
  .dondo-gui-text01 {
    margin-bottom: 0%;
  }
  .dondo-gui-text02 {
    color: rgb(242, 109, 31);
    font-size: 10px;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10%;
    text-decoration: none;
  }
  .dondo-gui-dondo2 {
    width: 50%;
  }
  .dondo-gui-text03 {
    text-align: left;
  }
  .dondo-gui-text04 {
    color: rgb(242, 109, 31);
    font-size: 12px;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    background-color: rgb(12, 3, 0);
  }
  .dondo-gui-text10 {
    color: rgb(224, 66, 23);
  }
  .dondo-gui-text11 {
    color: rgb(224, 66, 23);
  }
  .dondo-gui-text12 {
    color: rgb(224, 66, 23);
  }
  .dondo-gui-text13 {
    color: rgb(224, 66, 23);
    border-color: rgb(242, 109, 31);
    border-width: 1px;
    background-color: #271103;
  }
  .dondo-gui-rauw {
    font-size: 32px;
  }
  .dondo-gui-rauw1 {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .dondo-gui-rauw2 {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .dondo-gui-bunker {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .dondo-gui-casualmente {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .dondo-gui-subject {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .dondo-gui-dream {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .dondo-gui-voyage {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .dondo-gui-voyage1 {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .dondo-gui-rauw3 {
    font-size: 32px;
  }
  .dondo-gui-linkdn {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .dondo-gui-bandcamp {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .dondo-gui-twitter {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .dondo-gui-twitter1 {
    color: rgb(242, 109, 31);
    height: var(--dl-size-size-small);
    font-size: 14px;
    text-align: center;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    padding-top: 5%;
    margin-bottom: 10%;
    padding-bottom: 10%;
    text-decoration: none;
  }
  .dondo-gui-text25 {
    color: rgb(224, 66, 23);
  }
  .dondo-gui-text26 {
    color: rgb(224, 66, 23);
  }
  .dondo-gui-text27 {
    color: rgb(224, 66, 23);
  }
  .dondo-gui-text28 {
    color: rgb(224, 66, 23);
  }
  .dondo-gui-dondo {
    width: 100%;
    height: auto;
    overflow-y: hidden;
  }
  .dondo-gui-container09 {
    height: auto;
  }
  .dondo-gui-container10 {
    height: auto;
  }
  .dondo-gui-container17 {
    width: 100%;
  }
  .dondo-gui-container19 {
    width: 100%;
  }
  .dondo-gui-text39 {
    width: 100%;
  }
  .dondo-gui-container20 {
    width: 100%;
  }
  .dondo-gui-text40 {
    width: 100%;
  }
  .dondo-gui-container21 {
    width: 100%;
  }
  .dondo-gui-text41 {
    width: 100%;
  }
  .dondo-gui-container22 {
    height: auto;
  }
  .dondo-gui-text43 {
    width: 100%;
  }
  .dondo-gui-container23 {
    width: 100%;
  }
  .dondo-gui-text47 {
    width: 100%;
  }
  .dondo-gui-text48 {
    text-align: right;
  }
  .dondo-gui-rectangle96 {
    height: var(--dl-size-size-xlarge);
  }
  .dondo-gui-text49 {
    color: rgb(242, 109, 31);
    display: flex;
    font-size: 58px;
    font-family: Inter;
    font-weight: 900;
    line-height: normal;
    text-decoration: none;
  }
  .dondo-gui-text50 {
    display: none;
  }
  .dondo-gui-exclude {
    right: 37px;
    width: auto;
    bottom: 51px;
    height: 10%;
    display: flex;
    position: absolute;
  }
}
