.rauw-container {
  width: 100%;
  height: var(--dl-size-size-xxlarge);
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-image: linear-gradient(0deg, rgb(19, 5, 0) 1.00%,rgb(0, 0, 0) 27.00%);
}
.rauw-nav {
  width: 15%;
  height: 100%;
  display: flex;
  position: relative;
  overflow-x: inherit;
  overflow-y: scroll;
  align-items: flex-start;
  flex-shrink: 0;
}
.rauw-frame361 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.rauw-navlink {
  display: contents;
}
.rauw-container01 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.rauw-lottie-node {
  width: 75%;
  height: 78px;
}
.rauw-text {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 0px;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: 30%;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 0px;
  text-decoration: none;
}
.rauw-text:hover {
  text-decoration: underline;
}
.rauw-text:active {
  text-decoration: underline;
}
.rauw-text01 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  display: none;
  font-size: 58px;
  font-style: Regular;
  margin-top: 5%;
  text-align: center;
  font-family: Pinyon Script;
  font-weight: 400;
  line-height: 75%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  margin-bottom: 10%;
  text-decoration: none;
}
.rauw-text02 {
  color: rgb(242, 109, 31);
  height: auto;
  display: none;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  text-decoration: none;
}
.rauw-container02 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.rauw-frame31103 {
  width: 50%;
  height: auto;
  display: none;
}
.rauw-text03 {
  color: rgb(224, 66, 23);
  width: 100%;
  height: auto;
  display: none;
  font-size: 22px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 1;
  padding-top: 7%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 5%;
  letter-spacing: 1px;
  padding-bottom: 7%;
  text-decoration: none;
}
.rauw-text04 {
  color: rgb(242, 109, 31);
  width: 90%;
  height: auto;
  display: none;
  font-size: 12px;
  align-self: center;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  margin-left: 10%;
  padding-top: 10%;
  border-color: rgb(242, 109, 31);
  border-width: 1px;
  font-stretch: normal;
  margin-right: 10%;
  padding-left: 5%;
  margin-bottom: 5%;
  padding-right: 30%;
  padding-bottom: 10%;
  text-decoration: none;
  background-color: rgb(21, 5, 1);
  border-left-width: 0px;
  border-right-width: 0px;
}
.rauw-container03 {
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
}
.rauw-rectangle9 {
  width: 100%;
  height: 64px;
  opacity: 0.00;
}
.rauw-container04 {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  flex-direction: column;
}
.rauw-container04:hover {
  position: relative;
}
.rauw-rauw {
  color: rgb(224, 66, 23);
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  padding-top: 0px;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  border-width: 1px;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0px;
  text-transform: uppercase;
  text-decoration: none;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.rauw-rauw1 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.rauw-rauw1:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.rauw-rauw1:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.rauw-rauw2 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
  background-color: #150501;
}
.rauw-rauw2:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.rauw-rauw2:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.rauw-bunker {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.rauw-bunker:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.rauw-bunker:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.rauw-casualmente {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.rauw-casualmente:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-style: inset;
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.rauw-casualmente:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.rauw-subject {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.rauw-subject:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.rauw-subject:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.rauw-dream {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.rauw-dream:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.rauw-dream:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.rauw-voyage {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.rauw-voyage:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.rauw-voyage:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.rauw-voyage1 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.rauw-voyage1:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.rauw-voyage1:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.rauw-text14:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.rauw-text14:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.rauw-rauw3 {
  color: rgb(224, 66, 23);
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-style: normal;
  margin-top: 5%;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  padding-top: 0px;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  border-width: 1px;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0px;
  text-transform: uppercase;
  text-decoration: none;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.rauw-linkdn {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.rauw-linkdn:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-style: ridge;
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.rauw-linkdn:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.rauw-bandcamp {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.rauw-bandcamp:hover {
  width: 100%;
  height: 100%;
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-style: solid;
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.rauw-bandcamp:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.rauw-twitter {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.rauw-twitter:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-style: ridge;
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.rauw-twitter:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.rauw-twitter1 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  margin-top: 10%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: rgb(242, 109, 31);
  border-style: solid;
  border-width: 1px;
  font-stretch: normal;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: 10%;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 5%;
  text-decoration: none;
  border-left-width: 0px;
  border-right-width: 0px;
}
.rauw-text16 {
  color: rgb(224, 66, 23);
  width: 100%;
  height: auto;
  font-size: 10px;
  align-self: flex-end;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 10%;
  text-decoration: none;
}
.rauw-text16:hover {
  text-decoration: underline none;
}
.rauw-rectangle91 {
  width: 100%;
  height: 46px;
  opacity: 0.00;
}
.rauw-rectangle7 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.rauw-rectangle71 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.rauw-rectangle72 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.rauw-rectangle73 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.rauw-rectangle74 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.rauw-rectangle75 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.rauw-rectangle76 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.rauw-description {
  width: 30%;
  height: 100%;
  display: flex;
  position: relative;
  overflow-y: scroll;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.rauw-rectangle92 {
  width: 100%;
  height: 88px;
  opacity: 0.00;
}
.rauw-text17 {
  color: rgb(242, 109, 31);
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  text-decoration: none;
}
.rauw-text18 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  font-size: 64px;
  font-style: Regular;
  margin-top: 5%;
  text-align: center;
  font-family: Pinyon Script;
  font-weight: 400;
  line-height: 75%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  text-decoration: none;
}
.rauw-container05 {
  width: 50%;
  height: auto;
  display: flex;
  margin-top: 5px;
  align-items: center;
  margin-bottom: 5%;
  flex-direction: column;
  justify-content: center;
}
.rauw-frame311031 {
  width: 50%;
  height: auto;
  padding-top: 15%;
  padding-bottom: 15%;
}
.rauw-text19 {
  color: rgb(224, 66, 23);
  width: 100%;
  height: auto;
  font-size: 22px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 1;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 5%;
  letter-spacing: 1px;
  text-decoration: none;
}
.rauw-container06 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.rauw-text20 {
  color: rgb(242, 109, 31);
  width: 90%;
  height: auto;
  font-size: 12px;
  align-self: center;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  margin-left: 10%;
  padding-top: 10%;
  border-color: rgb(242, 109, 31);
  border-width: 1px;
  font-stretch: normal;
  margin-right: 10%;
  padding-left: 5%;
  border-radius: var(--dl-radius-radius-radius2);
  margin-bottom: 5%;
  padding-right: 10%;
  padding-bottom: 10%;
  background-color: rgb(21, 5, 1);
  border-left-width: 1px;
  border-right-width: 1px;
}
.rauw-text23 {
  text-decoration: none;
}
.rauw-text25 {
  text-decoration: none;
}
.rauw-link {
  text-decoration: none;
}
.rauw-text26 {
  text-decoration: none;
}
.rauw-text30 {
  text-decoration: none;
}
.rauw-text32 {
  text-decoration: none;
}
.rauw-text34 {
  text-decoration: none;
}
.rauw-rectangle93 {
  width: 100%;
  height: 64px;
  opacity: 0.00;
}
.rauw-rectangle94 {
  width: 100%;
  height: 306px;
  opacity: 0.00;
}
.rauw-frame373 {
  width: 100%;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.rauw-rectangle77 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.rauw-text36 {
  top: 9px;
  color: rgb(224, 66, 23);
  right: var(--dl-space-space-twounits);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  text-decoration: none;
}
.rauw-text36:hover {
  text-decoration: underline none;
}
.rauw-rectangle95 {
  width: 100%;
  height: 46px;
  opacity: 0.00;
}
.rauw-rectangle78 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.rauw-dondo {
  width: 55%;
  height: 100%;
  display: flex;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.rauw-rectangle10 {
  width: 100%;
  height: 144px;
  opacity: 0.00;
}
.rauw-container07 {
  width: 81%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-left: 5%;
  margin-right: 15%;
  flex-direction: row;
  justify-content: center;
}
.rauw-container08 {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.rauw-sdfsdf2 {
  width: 200%;
  height: auto;
}
.rauw-container09 {
  flex: 0 0 auto;
  width: 85%;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-end;
  align-items: flex-start;
  margin-right: 10%;
  flex-direction: row;
  justify-content: flex-start;
}
.rauw-container10 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.rauw-container11 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-left: 0%;
  padding-top: 0px;
  margin-right: 15%;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
.rauw-container12 {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
.rauw-sdfsdf21 {
  width: 90%;
  height: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}
.rauw-text37 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  font-size: 12px;
  align-self: flex-start;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.rauw-container13 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.rauw-container13:hover {
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 20;
  border-top-right-radius: 20;
  border-bottom-left-radius: 20;
  border-bottom-right-radius: 20;
}
.rauw-dfsdsf1 {
  width: 90%;
  height: auto;
  padding-top: 10%;
  padding-bottom: 10%;
}
.rauw-text38 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  font-size: 12px;
  align-self: center;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.rauw-container14 {
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
.rauw-container15 {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.rauw-container16 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-end;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.rauw-container16:hover {
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 5;
  border-top-right-radius: 5;
  border-bottom-left-radius: 5;
  border-bottom-right-radius: 5;
}
.rauw-container17 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.rauw-sdfsdf22 {
  width: 15%;
  height: auto;
  margin-top: 25%;
  margin-bottom: 25%;
}
.rauw-text39 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  font-size: 12px;
  align-self: flex-start;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.rauw-container18 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.rauw-dfsdsf11 {
  width: 15%;
  height: auto;
  margin-top: 30%;
  margin-bottom: 30%;
}
.rauw-text40 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  font-size: 12px;
  align-self: center;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.rauw-container19 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.rauw-container19:hover {
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 20;
  border-top-right-radius: 20;
  border-bottom-left-radius: 20;
  border-bottom-right-radius: 20;
}
.rauw-dfsdsf12 {
  width: 90%;
  height: auto;
  padding-top: 10%;
  padding-bottom: 10%;
}
.rauw-text41 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  font-size: 12px;
  align-self: center;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.rauw-text43 {
  font-size: 12px;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.rauw-container20 {
  width: 81%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-left: 5%;
  margin-right: 15%;
  flex-direction: row;
  justify-content: center;
}
.rauw-container21 {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
.rauw-sdfsdf23 {
  width: 90%;
  height: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}
.rauw-sdfsdf24 {
  width: 46.7%;
  height: auto;
  margin-top: 0%;
  margin-left: 5%;
  margin-bottom: 0%;
}
.rauw-text44 {
  color: rgb(242, 109, 31);
  width: 81%;
  height: 100%;
  font-size: 10px;
  align-self: flex-start;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  margin-left: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.rauw-container22 {
  width: 81%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-left: 5%;
  margin-right: 15%;
  flex-direction: row;
  justify-content: center;
}
.rauw-container23 {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.rauw-sdfsdf25 {
  width: 200%;
  height: auto;
}
.rauw-frame3731 {
  width: 81%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  margin-left: 5%;
  padding-top: 0%;
  margin-bottom: 10%;
  justify-content: center;
}
.rauw-text45 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: var(--dl-size-size-xsmall);
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  text-decoration: none;
}
.rauw-container24 {
  width: 81%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-left: 5%;
  padding-top: 0px;
  margin-right: 15%;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
.rauw-container25 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.rauw-image560 {
  width: 70%;
  height: auto;
  margin-left: 0px;
}
.rauw-container26 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.rauw-image5601 {
  width: 70%;
  height: auto;
  margin-left: 0px;
}
.rauw-frame3732 {
  width: 81%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  margin-left: 5%;
  justify-content: center;
}
.rauw-text48 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  font-size: 10px;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.rauw-container27 {
  width: 81%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-left: 5%;
  margin-right: 15%;
  flex-direction: row;
  justify-content: center;
}
.rauw-container28 {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.rauw-sdfsdf26 {
  width: 200%;
  height: auto;
}
.rauw-frame3733 {
  width: 81%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  margin-left: 5%;
  justify-content: center;
}
.rauw-text51 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  text-decoration: none;
}
.rauw-text54 {
  color: rgb(224, 66, 23);
  width: 100%;
  height: auto;
  font-size: 10px;
  align-self: flex-end;
  font-style: Regular;
  text-align: right;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 10%;
  text-decoration: none;
}
.rauw-text54:hover {
  text-decoration: underline none;
}
.rauw-rectangle96 {
  width: 100%;
  height: 46px;
  opacity: 0.00;
}
.rauw-text55 {
  top: -14px;
  left: 1px;
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  display: none;
  position: absolute;
  font-size: 58px;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  text-decoration: none;
}
.rauw-text56 {
  top: 0px;
  color: rgb(242, 109, 31);
  right: 0px;
  width: 55%;
  height: auto;
  position: fixed;
  font-size: 54px;
  align-self: flex-end;
  font-style: Black;
  margin-top: -14px;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  mix-blend-mode: difference;
  text-decoration: none;
}
.rauw-link1 {
  display: contents;
}
.rauw-exclude {
  width: 160px;
  height: 152px;
  display: none;
  position: fixed;
  mix-blend-mode: difference;
  text-decoration: none;
}
.rauw-lottie-node1 {
  top: NaNpx;
  width: 1263px;
  height: 1263px;
  display: none;
  opacity: 7%;
  position: fixed;
  mix-blend-mode: color-dodge;
  pointer-events: none;
}
.rauw-lottie-node2 {
  top: NaNpx;
  width: 1263px;
  height: 1263px;
  display: none;
  opacity: 30%;
  position: fixed;
  align-content: flex-end;
  animation-name: none;
  mix-blend-mode: screen;
  pointer-events: none;
}
@media(max-width: 991px) {
  .rauw-container {
    flex-direction: row;
  }
  .rauw-nav {
    width: 45%;
  }
  .rauw-frame361 {
    width: 100%;
  }
  .rauw-lottie-node {
    width: 162px;
    margin-right: 0px;
  }
  .rauw-text {
    margin-bottom: 10%;
  }
  .rauw-text01 {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
  }
  .rauw-text02 {
    display: flex;
    align-self: center;
  }
  .rauw-container02 {
    width: 75%;
    align-self: center;
    margin-bottom: 5%;
  }
  .rauw-frame31103 {
    width: 50%;
    display: flex;
    align-self: center;
    margin-top: 30%;
    margin-bottom: 30%;
  }
  .rauw-text03 {
    display: flex;
    padding-top: 0%;
    padding-bottom: 0%;
  }
  .rauw-text04 {
    color: rgb(242, 109, 31);
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
    padding-bottom: 5%;
    text-decoration: none;
    background-color: rgb(12, 3, 0);
  }
  .rauw-container03 {
    display: flex;
  }
  .rauw-rectangle9 {
    height: 32px;
  }
  .rauw-container04 {
    margin-top: 0px;
  }
  .rauw-rauw3 {
    margin-top: 5%;
  }
  .rauw-twitter1 {
    margin-top: 5%;
    padding-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 5%;
  }
  .rauw-text16 {
    text-align: left;
  }
  .rauw-description {
    display: none;
  }
  .rauw-text20 {
    color: rgb(242, 109, 31);
    font-size: 12px;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: rgb(21, 5, 1);
  }
  .rauw-text23 {
    text-decoration: none;
  }
  .rauw-text25 {
    text-decoration: none;
  }
  .rauw-link {
    text-decoration: none;
  }
  .rauw-text26 {
    text-decoration: none;
  }
  .rauw-text30 {
    text-decoration: none;
  }
  .rauw-text32 {
    text-decoration: none;
  }
  .rauw-text34 {
    text-decoration: none;
  }
  .rauw-rectangle93 {
    height: var(--dl-size-size-xsmall);
  }
  .rauw-dondo {
    width: 55%;
  }
  .rauw-container07 {
    width: 90%;
    height: auto;
    align-self: flex-start;
  }
  .rauw-container08 {
    justify-content: center;
  }
  .rauw-sdfsdf2 {
    width: 250%;
  }
  .rauw-container09 {
    width: 90%;
    align-self: flex-start;
    margin-left: 5%;
    flex-direction: column;
  }
  .rauw-container10 {
    width: 100%;
  }
  .rauw-container11 {
    width: 100%;
    height: auto;
    margin-left: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
  }
  .rauw-text37 {
    width: 100%;
    height: auto;
    margin-left: 0%;
    margin-bottom: 5%;
  }
  .rauw-container13 {
    width: 100%;
    height: auto;
  }
  .rauw-text38 {
    height: auto;
    margin-bottom: 5%;
  }
  .rauw-container14 {
    width: 100%;
  }
  .rauw-container15 {
    width: 100%;
  }
  .rauw-container16 {
    height: auto;
  }
  .rauw-container17 {
    width: 100%;
  }
  .rauw-text39 {
    height: auto;
    margin-bottom: 5%;
  }
  .rauw-container18 {
    width: 100%;
    background-color: transparent;
  }
  .rauw-dfsdsf11 {
    width: 15%;
  }
  .rauw-text40 {
    height: auto;
    margin-bottom: 5%;
  }
  .rauw-container19 {
    width: 100%;
    height: auto;
  }
  .rauw-text41 {
    height: auto;
    margin-left: 0%;
    margin-bottom: 5%;
  }
  .rauw-text42 {
    height: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .rauw-container20 {
    width: 90%;
    height: auto;
    flex-direction: column;
  }
  .rauw-container21 {
    margin-bottom: 10%;
  }
  .rauw-sdfsdf24 {
    width: 100%;
    margin-left: 0%;
    margin-bottom: 0%;
  }
  .rauw-text44 {
    top: 0px;
    left: 0px;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  .rauw-container22 {
    width: 90%;
    height: auto;
  }
  .rauw-container23 {
    width: auto;
  }
  .rauw-sdfsdf25 {
    width: 250%;
  }
  .rauw-text45 {
    top: 0px;
    left: 0px;
    color: rgb(224, 66, 23);
    width: 100%;
    height: 100%;
    font-size: 10px;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .rauw-container24 {
    width: 90%;
    height: auto;
    flex-direction: column;
  }
  .rauw-image560 {
    width: 75%;
    margin-top: 10%;
    margin-left: 0px;
    margin-bottom: 10%;
  }
  .rauw-image5601 {
    width: 75%;
    margin-left: 0px;
  }
  .rauw-frame3732 {
    width: 90%;
  }
  .rauw-text48 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .rauw-container27 {
    width: 90%;
    height: auto;
  }
  .rauw-sdfsdf26 {
    width: 250%;
  }
  .rauw-text51 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .rauw-text56 {
    font-size: 64px;
  }
  .rauw-exclude {
    display: none;
  }
}
@media(max-width: 479px) {
  .rauw-container {
    overflow-y: scroll;
    flex-direction: column;
  }
  .rauw-nav {
    width: 100%;
    height: auto;
    overflow-y: hidden;
  }
  .rauw-frame361 {
    width: auto;
  }
  .rauw-lottie-node {
    width: 162px;
  }
  .rauw-container02 {
    width: 50%;
  }
  .rauw-text03 {
    color: rgb(224, 66, 23);
    font-size: 22px;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1px;
    text-decoration: none;
  }
  .rauw-text04 {
    color: rgb(242, 109, 31);
    font-size: 12px;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    background-color: rgb(12, 3, 0);
  }
  .rauw-rauw {
    font-size: 32px;
  }
  .rauw-rauw1 {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .rauw-rauw2 {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .rauw-bunker {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .rauw-casualmente {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .rauw-subject {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .rauw-dream {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .rauw-voyage {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .rauw-voyage1 {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .rauw-text14 {
    height: var(--dl-size-size-small);
    font-size: 14px;
  }
  .rauw-rauw3 {
    font-size: 32px;
  }
  .rauw-linkdn {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .rauw-bandcamp {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .rauw-twitter {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .rauw-twitter1 {
    color: rgb(242, 109, 31);
    height: var(--dl-size-size-small);
    font-size: 14px;
    text-align: center;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    padding-top: 5%;
    margin-bottom: 10%;
    padding-bottom: 10%;
    text-decoration: none;
  }
  .rauw-rectangle93 {
    height: var(--dl-size-size-xsmall);
  }
  .rauw-dondo {
    width: 100%;
    height: auto;
    overflow-y: hidden;
  }
  .rauw-container07 {
    height: auto;
  }
  .rauw-container11 {
    height: auto;
  }
  .rauw-container12 {
    background-color: #f5f5f5;
  }
  .rauw-text37 {
    margin-bottom: 10%;
  }
  .rauw-container13 {
    height: auto;
    margin-bottom: 0%;
    background-color: #f5f5f5;
  }
  .rauw-text38 {
    padding-bottom: 10%;
  }
  .rauw-container14 {
    width: 100%;
  }
  .rauw-container15 {
    height: auto;
  }
  .rauw-container16 {
    height: auto;
  }
  .rauw-text39 {
    padding-bottom: 10%;
  }
  .rauw-text40 {
    padding-bottom: 10%;
  }
  .rauw-container19 {
    height: auto;
    background-color: #f5f5f5;
  }
  .rauw-text41 {
    padding-top: 5%;
    padding-bottom: 10%;
  }
  .rauw-container20 {
    height: auto;
  }
  .rauw-container21 {
    margin-bottom: 10%;
    background-color: #f5f5f5;
  }
  .rauw-sdfsdf24 {
    width: 100%;
  }
  .rauw-container22 {
    height: auto;
  }
  .rauw-frame3731 {
    margin-bottom: 10%;
  }
  .rauw-container24 {
    height: auto;
  }
  .rauw-image5601 {
    margin-bottom: 5%;
  }
  .rauw-frame3732 {
    margin-bottom: 10%;
  }
  .rauw-container27 {
    height: auto;
  }
  .rauw-container28 {
    position: relative;
  }
  .rauw-text54 {
    text-align: right;
  }
  .rauw-rectangle96 {
    width: 100%;
    height: var(--dl-size-size-xlarge);
  }
  .rauw-text55 {
    color: rgb(242, 109, 31);
    display: flex;
    font-size: 58px;
    font-family: Inter;
    font-weight: 900;
    line-height: normal;
    text-decoration: none;
  }
  .rauw-text56 {
    display: none;
  }
  .rauw-exclude {
    right: 37px;
    width: auto;
    bottom: 51px;
    height: 10%;
    display: flex;
    position: absolute;
  }
}
