.subject42-container {
  width: 100%;
  height: var(--dl-size-size-xxlarge);
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-image: linear-gradient(0deg, rgb(19, 5, 0) 1.00%,rgb(0, 0, 0) 27.00%);
}
.subject42-nav {
  width: 15%;
  height: 100%;
  display: flex;
  position: relative;
  overflow-x: inherit;
  overflow-y: scroll;
  align-items: flex-start;
  flex-shrink: 0;
}
.subject42-frame361 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.subject42-navlink {
  display: contents;
}
.subject42-container01 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.subject42-lottie-node {
  width: 75%;
  height: 78px;
}
.subject42-text {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 0px;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: 30%;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 0px;
  text-decoration: none;
}
.subject42-text:hover {
  text-decoration: underline;
}
.subject42-text:active {
  text-decoration: underline;
}
.subject42-text01 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  display: none;
  font-size: 58px;
  font-style: Regular;
  margin-top: 0px;
  text-align: center;
  font-family: Pinyon Script;
  font-weight: 400;
  line-height: 75%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  margin-bottom: 0px;
  text-decoration: none;
}
.subject42-text02 {
  color: rgb(242, 109, 31);
  height: auto;
  display: none;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-bottom: 5%;
  text-decoration: none;
}
.subject42-frame31103 {
  width: 50%;
  height: auto;
  display: none;
}
.subject42-text03 {
  color: rgb(224, 66, 23);
  width: 100%;
  height: auto;
  display: none;
  font-size: 22px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 1;
  padding-top: 7%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 5%;
  letter-spacing: 1px;
  padding-bottom: 7%;
  text-decoration: none;
}
.subject42-text04 {
  color: rgb(242, 109, 31);
  width: 90%;
  height: auto;
  display: none;
  font-size: 12px;
  align-self: center;
  font-style: Regular;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 10%;
  border-color: rgb(242, 109, 31);
  border-width: 1px;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 30%;
  padding-bottom: 10%;
  background-color: rgb(21, 5, 1);
  border-left-width: 0px;
  border-right-width: 0px;
}
.subject42-text09 {
  color: rgb(242, 109, 31);
  width: 100%;
  display: none;
  font-size: 12px;
  align-self: flex-start;
  font-style: Regular;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 2%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 2%;
  padding-bottom: 2%;
  text-decoration: underline;
}
.subject42-container02 {
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
}
.subject42-rectangle9 {
  width: 100%;
  height: 64px;
  opacity: 0.00;
}
.subject42-container03 {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  flex-direction: column;
}
.subject42-container03:hover {
  position: relative;
}
.subject42-rauw {
  color: rgb(224, 66, 23);
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  padding-top: 0px;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  border-width: 1px;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0px;
  text-transform: uppercase;
  text-decoration: none;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.subject42-rauw1 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.subject42-rauw1:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.subject42-rauw1:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.subject42-rauw2 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.subject42-rauw2:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.subject42-rauw2:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.subject42-bunker {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.subject42-bunker:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.subject42-bunker:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.subject42-casualmente {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.subject42-casualmente:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-style: inset;
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.subject42-casualmente:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.subject42-subject {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
  background-color: #150501;
}
.subject42-subject:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.subject42-subject:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.subject42-dream {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.subject42-dream:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.subject42-dream:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.subject42-voyage {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.subject42-voyage:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.subject42-voyage:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.subject42-voyage1 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.subject42-voyage1:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.subject42-voyage1:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.subject42-rauw3 {
  color: rgb(224, 66, 23);
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-style: normal;
  margin-top: 5%;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  padding-top: 0px;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  border-width: 1px;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0px;
  text-transform: uppercase;
  text-decoration: none;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.subject42-linkdn {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.subject42-linkdn:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-style: ridge;
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.subject42-linkdn:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.subject42-bandcamp {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: #BF521D;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.subject42-bandcamp:hover {
  width: 100%;
  height: 100%;
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-style: solid;
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.subject42-bandcamp:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.subject42-twitter {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  text-decoration: none;
}
.subject42-twitter:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-style: ridge;
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.subject42-twitter:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.subject42-twitter1 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-style: Regular;
  margin-top: 10%;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  border-color: rgb(242, 109, 31);
  border-style: solid;
  border-width: 1px;
  font-stretch: normal;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: 10%;
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 5%;
  text-decoration: none;
  border-left-width: 0px;
  border-right-width: 0px;
}
.subject42-twitter1:hover {
  padding-top: 14px;
  border-color: rgb(224, 66, 23);
  border-style: ridge;
  border-width: 1px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 14px;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.subject42-twitter1:active {
  background: #241005;
  padding-left: var(--dl-space-space-threeunits);
}
.subject42-text10 {
  color: rgb(224, 66, 23);
  width: 100%;
  height: auto;
  font-size: 10px;
  align-self: flex-end;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 10%;
  text-decoration: none;
}
.subject42-text10:hover {
  text-decoration: underline none;
}
.subject42-rectangle91 {
  width: 100%;
  height: 46px;
  opacity: 0.00;
}
.subject42-rectangle7 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.subject42-rectangle71 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.subject42-rectangle72 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.subject42-rectangle73 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.subject42-rectangle74 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.subject42-rectangle75 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.subject42-rectangle76 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.subject42-exclude {
  width: 160px;
  height: 152px;
  display: none;
}
.subject42-description {
  width: 30%;
  height: 100%;
  display: flex;
  position: relative;
  overflow-y: scroll;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.subject42-rectangle92 {
  width: 100%;
  height: 88px;
  opacity: 0.00;
}
.subject42-text11 {
  color: rgb(242, 109, 31);
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  text-decoration: none;
}
.subject42-text12 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  font-size: 64px;
  font-style: Regular;
  margin-top: 0px;
  text-align: center;
  font-family: Pinyon Script;
  font-weight: 400;
  line-height: 75%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  margin-bottom: 0px;
  text-decoration: none;
}
.subject42-container04 {
  width: auto;
  height: var(--dl-size-size-xxlarge);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.subject42-frame311031 {
  width: 50%;
  height: auto;
  margin-bottom: 5%;
}
.subject42-text13 {
  color: rgb(224, 66, 23);
  width: 100%;
  height: auto;
  font-size: 22px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 1;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 5%;
  margin-bottom: 5%;
  letter-spacing: 1px;
  text-decoration: none;
}
.subject42-container05 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.subject42-text14 {
  color: rgb(242, 109, 31);
  width: 90%;
  height: auto;
  font-size: 12px;
  align-self: center;
  font-style: Regular;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 10%;
  border-color: rgb(242, 109, 31);
  border-width: 1px;
  font-stretch: normal;
  padding-left: 5%;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 10%;
  padding-bottom: 10%;
  background-color: rgb(21, 5, 1);
  border-left-width: 1px;
  border-right-width: 1px;
}
.subject42-text17 {
  text-decoration: none;
}
.subject42-text19 {
  text-decoration: none;
}
.subject42-text21 {
  color: rgb(242, 109, 31);
  width: 100%;
  font-size: 12px;
  align-self: flex-start;
  font-style: Regular;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  padding-top: 5%;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 5%;
  padding-bottom: 5%;
  text-decoration: underline;
}
.subject42-rectangle93 {
  width: 100%;
  height: 64px;
  opacity: 0.00;
}
.subject42-rectangle94 {
  width: 100%;
  height: 306px;
  opacity: 0.00;
}
.subject42-frame373 {
  width: 100%;
  height: 32px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.subject42-rectangle77 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.subject42-text22 {
  top: 9px;
  color: rgb(224, 66, 23);
  right: var(--dl-space-space-twounits);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  text-decoration: none;
}
.subject42-text22:hover {
  text-decoration: underline none;
}
.subject42-rectangle95 {
  width: 100%;
  height: 46px;
  opacity: 0.00;
}
.subject42-rectangle78 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  opacity: 0.00;
  position: absolute;
}
.subject42-dondo {
  width: 55%;
  height: 100%;
  display: flex;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.subject42-text23 {
  top: -22px;
  left: 55px;
  color: rgba(224, 66, 23, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.subject42-rectangle10 {
  width: 100%;
  height: 144px;
  opacity: 0.00;
}
.subject42-container06 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-top: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
.subject42-container07 {
  width: 81%;
  height: 379px;
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-right: 10%;
  flex-direction: row;
  justify-content: center;
}
.subject42-div {
  width: 100%;
  height: auto;
}
.subject42-text25 {
  color: rgb(242, 109, 31);
  width: 81%;
  height: auto;
  font-size: 12px;
  align-self: flex-start;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  margin-left: 5%;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.subject42-container08 {
  flex: 0 0 auto;
  width: 85%;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-end;
  align-items: flex-start;
  margin-right: 10%;
  flex-direction: row;
  justify-content: flex-start;
}
.subject42-container09 {
  flex: 0 0 auto;
  width: 47.5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.subject42-container10 {
  width: 90%;
  height: auto;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.subject42-container10:hover {
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 20;
  border-top-right-radius: 20;
  border-bottom-left-radius: 20;
  border-bottom-right-radius: 20;
}
.subject42-dfsdsf1 {
  width: 100%;
  height: auto;
}
.subject42-text28 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  font-size: 12px;
  align-self: center;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.subject42-container11 {
  width: 90%;
  height: auto;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.subject42-container11:hover {
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 20;
  border-top-right-radius: 20;
  border-bottom-left-radius: 20;
  border-bottom-right-radius: 20;
}
.subject42-dfsdsf11 {
  width: 100%;
  height: auto;
}
.subject42-text29 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  font-size: 12px;
  align-self: center;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.subject42-container12 {
  flex: 0 0 auto;
  width: 47.5%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.subject42-container13 {
  width: 90%;
  height: auto;
  display: flex;
  align-self: flex-end;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.subject42-container13:hover {
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 5;
  border-top-right-radius: 5;
  border-bottom-left-radius: 5;
  border-bottom-right-radius: 5;
}
.subject42-container14 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(189, 195, 199) 0.00%,rgb(2, 67, 132) 100.00%);
}
.subject42-sdfsdf2 {
  width: 100%;
  height: auto;
}
.subject42-text30 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  font-size: 12px;
  align-self: center;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.subject42-container15 {
  height: var(--dl-size-size-xlarge);
  display: flex;
  align-items: center;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: column;
  padding-bottom: 10%;
  justify-content: center;
}
.subject42-sdfsdf21 {
  width: 50%;
  height: auto;
}
.subject42-text31 {
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  font-size: 12px;
  align-self: center;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.subject42-container16 {
  width: 81%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-left: 5%;
  padding-top: 0px;
  margin-right: 15%;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
.subject42-sdfsdf22 {
  width: 100%;
  height: auto;
  margin-bottom: 5%;
}
.subject42-container17 {
  width: 81%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-left: 5%;
  padding-top: var(--dl-space-space-fourunits);
  margin-right: 15%;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
}
.subject42-dfsdsf12 {
  width: 33%;
  height: auto;
}
.subject42-sdfsdf23 {
  width: 33%;
  height: auto;
}
.subject42-dfsdsf13 {
  width: 33%;
  height: auto;
}
.subject42-text32 {
  color: rgb(242, 109, 31);
  width: 81%;
  height: auto;
  font-size: 12px;
  align-self: flex-start;
  font-style: Regular;
  margin-top: 5%;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  margin-left: 5%;
  font-stretch: normal;
  margin-bottom: 5%;
  text-decoration: none;
}
.subject42-container18 {
  width: 81%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-left: 5%;
  padding-top: 0px;
  margin-right: 15%;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
.subject42-sdfsdf24 {
  width: 100%;
  height: auto;
}
.subject42-text35 {
  color: rgb(242, 109, 31);
  width: 81%;
  height: auto;
  font-size: 12px;
  align-self: flex-start;
  font-style: Regular;
  text-align: left;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  margin-left: 5%;
  font-stretch: normal;
  text-decoration: none;
}
.subject42-text38 {
  top: -14px;
  left: 1px;
  color: rgb(242, 109, 31);
  width: 100%;
  height: auto;
  display: none;
  position: absolute;
  font-size: 58px;
  font-style: Black;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  text-decoration: none;
}
.subject42-text39 {
  top: 0px;
  color: rgb(242, 109, 31);
  right: 0px;
  width: 55%;
  height: auto;
  position: fixed;
  font-size: 54px;
  align-self: flex-end;
  font-style: Black;
  margin-top: -14px;
  text-align: left;
  font-family: Inter;
  font-weight: 900;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  mix-blend-mode: difference;
  text-decoration: none;
}
.subject42-rectangle96 {
  width: 100%;
  height: 46px;
  opacity: 0.00;
}
.subject42-text40 {
  color: rgb(224, 66, 23);
  width: 100%;
  height: auto;
  font-size: 10px;
  align-self: flex-end;
  font-style: Regular;
  text-align: right;
  transition: 0.3s;
  font-family: Source Code Pro;
  font-weight: 400;
  line-height: normal;
  text-shadow:  0 0 3px #590000, 0 0 3px #590000, 0 0 3px #590000, 0 0 1px #590000, 0 0 3px #590000;
  font-stretch: normal;
  padding-left: 5%;
  padding-right: 10%;
  text-decoration: none;
}
.subject42-text40:hover {
  text-decoration: underline none;
}
.subject42-rectangle97 {
  width: 100%;
  height: 46px;
  opacity: 0.00;
}
.subject42-link {
  display: contents;
}
.subject42-exclude1 {
  width: 160px;
  height: 152px;
  display: none;
  position: fixed;
  mix-blend-mode: difference;
  text-decoration: none;
}
.subject42-lottie-node1 {
  top: NaNpx;
  width: 1263px;
  height: 1263px;
  display: none;
  opacity: 7%;
  position: fixed;
  mix-blend-mode: color-dodge;
  pointer-events: none;
}
.subject42-lottie-node2 {
  top: NaNpx;
  width: 1263px;
  height: 1263px;
  display: none;
  opacity: 30%;
  position: fixed;
  align-content: flex-end;
  animation-name: none;
  mix-blend-mode: screen;
  pointer-events: none;
}
@media(max-width: 991px) {
  .subject42-container {
    flex-direction: row;
  }
  .subject42-nav {
    width: 45%;
  }
  .subject42-frame361 {
    width: 100%;
  }
  .subject42-lottie-node {
    width: 162px;
    margin-right: 0px;
  }
  .subject42-text {
    margin-bottom: 10%;
  }
  .subject42-text01 {
    color: rgb(242, 109, 31);
    display: flex;
    font-size: 58px;
    margin-top: 10%;
    font-family: Pinyon Script;
    font-weight: 400;
    line-height: 75%;
    margin-bottom: 0%;
    justify-content: center;
    text-decoration: none;
  }
  .subject42-text02 {
    display: flex;
    align-self: center;
  }
  .subject42-frame31103 {
    width: 75%;
    display: flex;
    align-self: center;
  }
  .subject42-text03 {
    display: flex;
  }
  .subject42-text04 {
    color: rgb(242, 109, 31);
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    padding-top: 10%;
    padding-left: 5%;
    margin-bottom: 5%;
    padding-right: 10%;
    flex-direction: column;
    padding-bottom: 10%;
    background-color: rgb(12, 3, 0);
  }
  .subject42-text09 {
    color: rgb(217, 125, 22);
    height: auto;
    display: flex;
    font-size: 12px;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    text-decoration: none;
  }
  .subject42-container02 {
    display: flex;
  }
  .subject42-rectangle9 {
    height: 32px;
  }
  .subject42-container03 {
    margin-top: 0px;
  }
  .subject42-rauw3 {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .subject42-twitter1 {
    margin-top: 5%;
    padding-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 5%;
  }
  .subject42-text10 {
    text-align: left;
  }
  .subject42-description {
    display: none;
  }
  .subject42-text12 {
    color: rgb(242, 109, 31);
    font-size: 58px;
    font-family: Pinyon Script;
    font-weight: 400;
    line-height: 75%;
    text-decoration: none;
  }
  .subject42-text14 {
    color: rgb(242, 109, 31);
    font-size: 12px;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: rgb(21, 5, 1);
  }
  .subject42-text16 {
    text-decoration: none;
  }
  .subject42-text17 {
    text-decoration: none;
  }
  .subject42-text18 {
    text-decoration: none;
  }
  .subject42-text19 {
    text-decoration: none;
  }
  .subject42-text20 {
    text-decoration: none;
  }
  .subject42-text21 {
    color: rgb(217, 125, 22);
    height: auto;
    font-size: 12px;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    text-decoration: none;
  }
  .subject42-rectangle93 {
    height: var(--dl-size-size-xsmall);
  }
  .subject42-dondo {
    width: 55%;
  }
  .subject42-container06 {
    height: 100%;
  }
  .subject42-container07 {
    width: 90%;
    height: 100%;
    margin-left: 0%;
    margin-right: 0%;
    justify-content: center;
  }
  .subject42-div {
    height: 231px;
  }
  .subject42-text25 {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .subject42-text26 {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .subject42-text27 {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .subject42-container08 {
    width: 90%;
    align-self: flex-start;
    margin-left: 5%;
    flex-direction: column;
  }
  .subject42-container09 {
    width: 100%;
  }
  .subject42-container10 {
    width: 100%;
  }
  .subject42-dfsdsf1 {
    width: 75%;
  }
  .subject42-text28 {
    height: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .subject42-container11 {
    height: auto;
  }
  .subject42-text29 {
    height: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .subject42-container12 {
    width: 100%;
  }
  .subject42-container13 {
    width: 100%;
    background-color: transparent;
  }
  .subject42-container14 {
    background-image: linear-gradient(180deg, rgb(189, 195, 199) 0.00%,rgb(2, 67, 132) 100.00%);
  }
  .subject42-sdfsdf2 {
    width: 75%;
    align-self: center;
  }
  .subject42-text30 {
    height: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .subject42-container15 {
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .subject42-text31 {
    height: auto;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .subject42-container16 {
    width: 90%;
    height: auto;
  }
  .subject42-sdfsdf22 {
    width: 100%;
  }
  .subject42-container17 {
    width: 90%;
    height: auto;
    flex-direction: column;
  }
  .subject42-dfsdsf12 {
    width: 100%;
  }
  .subject42-sdfsdf23 {
    width: 100%;
  }
  .subject42-dfsdsf13 {
    width: 100%;
  }
  .subject42-text32 {
    width: 90%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .subject42-text33 {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .subject42-text34 {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .subject42-container18 {
    width: 90%;
    height: auto;
  }
  .subject42-sdfsdf24 {
    width: 100%;
  }
  .subject42-text35 {
    width: 90%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .subject42-text36 {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .subject42-text37 {
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .subject42-text39 {
    font-size: 64px;
  }
}
@media(max-width: 479px) {
  .subject42-container {
    overflow-y: scroll;
    flex-direction: column;
  }
  .subject42-nav {
    width: 100%;
    height: auto;
    overflow-y: hidden;
  }
  .subject42-frame361 {
    width: auto;
  }
  .subject42-lottie-node {
    width: 162px;
  }
  .subject42-text01 {
    justify-content: center;
  }
  .subject42-frame31103 {
    width: 50%;
  }
  .subject42-text03 {
    text-align: left;
    justify-content: flex-start;
  }
  .subject42-text04 {
    color: rgb(242, 109, 31);
    font-size: 12px;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    background-color: rgb(12, 3, 0);
  }
  .subject42-text09 {
    color: rgb(224, 66, 23);
  }
  .subject42-rauw {
    font-size: 32px;
  }
  .subject42-rauw1 {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .subject42-rauw2 {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .subject42-bunker {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .subject42-casualmente {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .subject42-subject {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .subject42-dream {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .subject42-voyage {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .subject42-voyage1 {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .subject42-rauw3 {
    font-size: 32px;
  }
  .subject42-linkdn {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .subject42-bandcamp {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .subject42-twitter {
    height: 44px;
    font-size: 14px;
    padding-top: 3.3%;
    padding-bottom: 3.3%;
  }
  .subject42-twitter1 {
    color: rgb(242, 109, 31);
    height: var(--dl-size-size-small);
    font-size: 14px;
    text-align: center;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    padding-top: 5%;
    margin-bottom: 10%;
    padding-bottom: 10%;
    text-decoration: none;
  }
  .subject42-exclude {
    right: -40px;
    bottom: -344px;
    display: none;
    position: absolute;
  }
  .subject42-text21 {
    color: rgb(224, 66, 23);
  }
  .subject42-rectangle93 {
    height: var(--dl-size-size-xsmall);
  }
  .subject42-dondo {
    width: 100%;
    height: auto;
    overflow-y: hidden;
  }
  .subject42-container06 {
    height: auto;
  }
  .subject42-container07 {
    height: auto;
  }
  .subject42-div {
    width: 100%;
    height: 249px;
    padding-right: 0px;
  }
  .subject42-text25 {
    color: rgb(224, 66, 23);
  }
  .subject42-text28 {
    color: rgb(224, 66, 23);
    font-size: 12px;
    font-family: Source Code Pro;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .subject42-container11 {
    height: auto;
  }
  .subject42-text29 {
    padding: 0px;
    margin-bottom: 5%;
  }
  .subject42-container12 {
    height: auto;
  }
  .subject42-text30 {
    padding: 0px;
    margin-bottom: 5%;
  }
  .subject42-text31 {
    padding: 0px;
    margin-bottom: 5%;
  }
  .subject42-container16 {
    height: auto;
  }
  .subject42-container17 {
    height: auto;
  }
  .subject42-text32 {
    padding: 0px;
    margin-bottom: 5%;
  }
  .subject42-container18 {
    height: var(--dl-size-size-xlarge);
  }
  .subject42-text35 {
    padding: 0px;
    margin-bottom: 5%;
  }
  .subject42-text38 {
    color: rgb(242, 109, 31);
    display: flex;
    font-size: 58px;
    font-family: Inter;
    font-weight: 900;
    line-height: normal;
    text-decoration: none;
  }
  .subject42-text39 {
    display: none;
  }
  .subject42-text40 {
    text-align: right;
  }
  .subject42-rectangle97 {
    height: var(--dl-size-size-xlarge);
  }
  .subject42-exclude1 {
    right: 37px;
    width: auto;
    bottom: 51px;
    height: 10%;
    display: flex;
    position: absolute;
  }
}
