<div>
  <script
    type="text/javascript"
    src="https://unpkg.com/@lottiefiles/lottie-player@1.6.0/dist/lottie-player.js"
  ></script>
  <link href="./component1.css" rel="stylesheet" />
  <div class="component1-container">
    <div class="component1-container1">
      <div class="component1-container2">
        <lottie-player
          src="https://lottie.host/2d999918-548c-48b1-b862-c22f358ae837/DvwGmBanKC.json"
          loop
          speed="1"
          autoplay
          background="transparent"
          class="component1-lottie-node"
        ></lottie-player>
      </div>
      <span class="component1-text">Marco Rios Design &amp; Art</span>
    </div>
  </div>
</div>
