<div>
  <script
    type="text/javascript"
    src="https://unpkg.com/@lottiefiles/lottie-player@1.6.0/dist/lottie-player.js"
  ></script>
  <link href="./nav.css" rel="stylesheet" />
  <div class="nav-frame361">
    <lottie-player
      src="https://lottie.host/2d999918-548c-48b1-b862-c22f358ae837/DvwGmBanKC.json"
      loop
      speed="1"
      autoplay
      background="transparent"
      class="nav-lottie-node"
    ></lottie-player>
    <img
      alt="Rectangle81393"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/1747ad37-af4a-4b46-86bd-31d004b1d48a/9ca06030-8f00-4cf9-8398-dbe50b4f906e?org_if_sml=1123"
      class="nav-rectangle8"
    />
    <div class="nav-container">
      <span class="nav-rauw">Case study</span>
      <span class="nav-rauw1">Dondo</span>
      <span class="nav-rauw2">Rauw Alejandro</span>
      <span class="nav-bunker">Bunker</span>
      <span class="nav-casualmente">Casualmente</span>
      <span class="nav-subject">Subject 42</span>
      <span class="nav-dream">Dream</span>
      <span class="nav-voyage">Voyager</span>
      <span class="nav-voyage1">Trimba</span>
      <span class="nav-rauw3">Links</span>
      <a
        href="https://www.linkedin.com/in/marco-rios-6a305a264/"
        target="_blank"
        rel="noreferrer noopener"
        class="nav-linkdn"
      >
        Linkedin
      </a>
      <a
        href="https://marcorios.bandcamp.com/"
        target="_blank"
        rel="noreferrer noopener"
        class="nav-bandcamp"
      >
        Bandcamp
      </a>
      <a
        href="https://twitter.com/marcoriosb"
        target="_blank"
        rel="noreferrer noopener"
        class="nav-twitter"
      >
        Twitter
      </a>
    </div>
    <div class="nav-frame373">
      <img
        alt="Rectangle71393"
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/1747ad37-af4a-4b46-86bd-31d004b1d48a/19aa5b68-6fcd-4500-8191-087752b95bc7?org_if_sml=1123"
        class="nav-rectangle7"
      />
      <span class="nav-text">© 2023</span>
    </div>
  </div>
</div>
